$red: #FF4040;
$selectred:#FFECE8;
$bgc: #F0F2F5;
$white: #fff;
$gray: #e5e7eb;
$fsblack: #181D24;
$twoheaderfs:#374151;
$border-radius :10px;
$border-radiusCard :12px;
$padding :10px;
$fwb:550;
$basicTitlefs:20px;
$basicfs:14px;
$smallTitlefs:16px;
$phonefs:18px;
$inputborColor:#d1d5db;
$fontSgray:#788496;
$bordergray:#f3f4f6;
$boxshadow: 0 2px 6px rgba(0, 0, 0, 0.05);
$descgray:#9ca3af;
$tagred:#ffe6e6;
$taggreen:#dcfce7;
$tagyellow:#fef9c3;
$Textpad:15px;
$borderRed:#FF8B83;
$borderbottomgray:#F0F2F5;